  <td><%= station.address || "Couldn't find adress (#{station.latitude}, #{station.longitude})"%></td>
  <td><%= station.distance_from_office.round(2) %> km</td>
  <td><%= station.available_bixis %></td>
