<td><%= station.address || t('no_address', lat: station.latitude, long: station.longitude) %></td>
<td><%= station.distance_from_office.round(2) %> <%= t(:km) %></td>
<td><%= station.available_bixis %></td>
