<div class="container d-flex flex-column align-content-center">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center p-4 border-bottom"><%= t(:main_page_header) %></h1>
    </div>
    <div class="col-md-4 offset-md-4 d-flex justify-content-center">

      <%= form_tag("/stations", method: "post", remote: true) do %>
        <%= submit_tag(t(:refresh_station), class: "btn btn-primary btn-lg m-4") %>
      <% end %>

    </div>
    <div class="col-md-10  offset-md-1" id="tables">

      <%= render partial: 'tables', locals: {stations_with_bixis: @stations_with_bixis, closest_stations: @closest_stations} %>

    </div>
  </div>
</div>
