---
http_interactions:
- request:
    method: get
    uri: https://api-core.bixi.com/gbfs/en/station_status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 02 Apr 2018 20:52:27 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_updated":1522702341,"ttl":10,"data":{"stations":[{"station_id":"42","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":19,"num_docks_disabled":0,"is_installed":1,"is_renting":0,"is_returning":1,"last_reported":1522656334,"eightd_has_available_keys":false},{"station_id":"1","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":7,"num_docks_disabled":0,"is_installed":0,"is_renting":0,"is_returning":1,"last_reported":1511258230,"eightd_has_available_keys":false},{"station_id":"2","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":23,"num_docks_disabled":0,"is_installed":1,"is_renting":0,"is_returning":1,"last_reported":1522658752,"eightd_has_available_keys":false},{"station_id":"3","num_bikes_available":0,"num[...]
