---
http_interactions:
- request:
    method: get
    uri: https://api-core.bixi.com/gbfs/en/station_status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 04 Mar 2018 22:02:31 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_updated":1520200949,"ttl":10,"data":{"stations":[{"station_id":"1","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":15,"num_docks_disabled":0,"is_installed":0,"is_renting":0,"is_returning":1,"last_reported":1511258230,"eightd_has_available_keys":false},{"station_id":"2","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":23,"num_docks_disabled":0,"is_installed":0,"is_renting":0,"is_returning":1,"last_reported":1511023047,"eightd_has_available_keys":false},{"station_id":"3","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":19,"num_docks_disabled":0,"is_installed":0,"is_renting":0,"is_returning":1,"last_reported":1511343240,"eightd_has_available_keys":false},{"station_id":"4","num_bikes_available":0,"nu[...]
- request:
    method: get
    uri: https://api-core.bixi.com/gbfs/en/station_information.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 04 Mar 2018 22:18:14 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJsYXN0X3VwZGF0ZWQiOjE1MjAyMDE4OTMsInR0bCI6MTAsImRhdGEiOnsic3RhdGlvbnMiOlt7InN0[...]
[...]
